* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  background-color: #f7cac9;
}

#header {
  width: 98%;
  height: 10%;
  margin: 1%;
  border: 1px solid #fff;
  background-color: #f8d200;
}

#main {
  width: 98%;
  height: auto;
  margin: 1%;
  border: 1px solid #fff;
  background-color: #f8d200;
  padding: 1%;
}

#subtitle {
    font-family: impact;
    letter-spacing: 1px;
}

img {
  width: 100%;
}

blockquote {
  width: 100%;
}

iframe {
  width: 100%;
}
